@page
@model entity_core.Views.Blogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Blog.Url)</h4>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blog.BlogId">Edit</a> |
    <a href='javascript:history.go(-1)'>Back</a>
</div>

<br/>
<br/>

<div>
    <h4>Posts</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Post[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post[0].Content)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Post)
            {
                if (item.BlogId == Model.Blog.BlogId) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-page="../Posts/Edit" asp-route-id="@item.PostId">Edit</a> |
                        <a asp-page="../Posts/Details" asp-route-id="@item.PostId">Details</a> |
                        <a asp-page="../Posts/Delete" asp-route-id="@item.PostId">Delete</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>