@page
@model entity_core.Views.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h4>Delete Post?</h4>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Blog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Blog.BlogId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post.PostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href='javascript:history.go(-1)'>Back</a>
    </form>
</div>
